body{
    background-color: rgb(139, 58, 58);
}

.main-window{
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    column-gap: 10px;
}

.click-window{
    background-color: rgb(170, 142, 81);
    border-radius: 30px;
    width: 400px;
    height: 910px;
    display: grid;
    grid-column: 3 1fr 1fr 1frs;
    
}

.currency-display{
    text-align: center;
    overflow: auto;
    padding-top: 30px;
    color: rgb(43, 41, 41);
    font-weight: bold;
    font-family: Cascadia mono;
    font-size: 80px;
    width: 100%;
    height: 100%;
    
}
.earn-click{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 70px;
    
}



.warlock{
    width: 80%;
    margin-left: 35px;
    
}

.display-worker{
    display: grid;
}




